@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General Styleing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather Sans", sans-serif;
}

body{
    min-height: 100vh;
}

/* Hero Styling Start */
.hero-section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url("../images/linear_gradient1.png") ,url("../images/linear_gradient2.png"), url("../images/home_hero_img.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-section h1{
    color: rgba(255, 255, 255, 1);
    font-size: 62px;
    font-weight: 400;
}

.hero-section h1 i{
    color: #ff531b;
}
/* Hero Styling End */

/* Styleing the Navigation Bar Start*/
.navbar .logo .navbar-logo{
    height: 67px;
    width: 177px;
    background-image: url("../images/wandero_logo_light.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    z-index: 999;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
    transition: 0.6s;
}

.navbar.sticky{
    background-color: rgba(51, 54, 69, 0.8);
    padding: 2% 6%;
}

/* Menu Styleing */
.navbar .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .menu a.menu-item{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 30px;
    padding: 0 10px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: color, background;
}

.navbar .menu a.menu-item:hover{
    color: #000;
    background: #ff531b;
}

.navbar .menu a.cta{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 30px;
    padding: 0.5em 2em;
    border-radius: 10px;
    border: 2px solid #ff531b;
    transition: 0.3s;
    transition-property: color, background;
}

.navbar .menu a.cta:hover{
    color: #000;
    background: #ff531b;
}

.navbar .btn{
    color: #ff531b;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

/* @media (max-width: 1060px){ */
@media (max-width: 992px){
    .navbar .btn{
        display: block;
    }

    .navbar .menu{
        position: fixed;
        background: #333645;
        flex-direction: column;
        min-width: 300px;
        height: 100vh;
        top: 0;
        right: -150%;
        padding: 80px 50px;
        transition: 0.5s;
        transition-property: right;
    }

    .navbar .menu.active{
        right: 0;

    }

    .navbar .menu .close-btn{
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }

    .navbar .menu a{
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
    }
}
/* Styleing the Navigation Bar End*/

@media (max-width: 630px){
    .hero-section h1{
        font-size: 50px;
        line-height: 60px;
    }
}

.section-two{
    min-height: 100vh;
    background: #001018;
    padding: 20px 100px;
}

.section-two h2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0;
}

.space-hero-md{
    padding: 10% 6%;
}

.space-hero-sm{
    padding: 5% 6%;
}

.space-md{
    padding: 10% 20%;
}

.space-sm{
    padding: 3% 20%;
}

.wandero-primary-btn{
    background-color: #ff531b;
    color: #fff;
    font-size: 28px;
    border-radius: 4rem;
    min-width: fit-content;
    padding: 0.5em 1.5em;
    border: 3px solid #ff531b;
}

.wandero-secondary-btn{
    background-color: transparent;
    color: #ff531b;
    font-size: 28px;
    border-radius: 40px;
    min-width: fit-content;
    padding: 0.5em 3.5em;
    border-color: #ff531b;
}

.wandero-primary-btn:hover,
.wandero-secondary-btn:hover{
    background-color: #333645;
    border-color: #ff531b;
}

.button-holder{
    padding: 5% 0 0 0;
    z-index: 1;
}

.bg-grey{
    background-color: #333645;
}

.wandero-arrow{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.wandero-subtitle{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.wandero-title{
    font-size: 58px!important;
    font-weight: 800!important;
}

.wandero-lead{
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
}

.hero-subtitle{
    color: #fff;
}

.content-title{
    color: #ff531b;
    font-size: 35px;
    font-weight: 700;
}

.content-description{
    color: rgba(41, 34, 34, 0.73);
    font-size: 20px;
    line-height: 40px;
}

.wandero-hr{
    border-width: 3px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}

.content h1{
    color: #ff531b;   
}

.description-card .card-image{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
}

.description-card .card-content h1{
    color: #ff531b;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4%;
}

.description-card .card-content p{
    font-size: 15px;
    line-height: 28px;
}

.value-card{
    padding: 0 6%;
}

.value-icon{
    display: block;
    height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.value-title{
    font-size: 20px;
    color: #333645;
    line-height: 28px;
    text-transform: uppercase;
}

.value-text{
    color: rgba(41, 34, 34, 0.73);
    font-size: 15px;
    line-height: 28px;
}

.wandero-arrow-img{
    position: absolute;
    bottom: 0;
    right: 3%;
    height: 95%;
}

.program-tag{
    border: 3px solid #ff531b;
    border-radius: 3em;
    padding: 2%;
}

.program-tag .program-tag-icon{
    height: 5vh;
    width: 5vh;
}

.program-tag .program-tag-title{
    font-size: 1em;
    font-size-adjust: 0.5;
}

.encouragement-hr{
    width: 95%;
}

/* 3839px(4K) vagy kissebb képernyőre */
@media screen and (min-width: 3839px) {
    .navbar .logo .navbar-logo {
        height: 150px;
        width: 375px;
    }

    .navbar .menu a.menu-item{
        font-size: 48px;
    }

    .navbar .menu a.cta{
        font-size: 48px;
    }

    .wandero-subtitle{
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .wandero-title{
        font-size: 92px!important;
        font-weight: 1000!important;
    }

    .wandero-lead{
        font-size: 58px;
        line-height: 70px;
    }

    .wandero-primary-btn{
        font-size: 62px;
    }

    .description-card .card-content h1{
        font-size: 48px;
    }

    .description-card .card-content p {
        font-size: 35px;
        line-height: 58px;
    }

    .description-card .card-image{
        height: 40vh;
    }

    .value-icon{
        height: 15vh;
    }

    .value-title {
        font-size: 48px;
        line-height: 63px;
    }

    .value-text{
        font-size: 42px;
        line-height: 63px;
    }

    .content-title {
        font-size: 78px;
        font-weight: 1000;
    }

    .content-description {
        font-size: 42px;
        line-height: 73px;
        font-weight: 600;
    }

    .program-tag .program-tag-title {
        font-size: 1.9em;
    }
    /* .value-text{
        max-width: 75%;
    } */
}

/* 1400px vagy kissebb képernyőkre */
@media screen and (max-width: 1400px) {
   
}

/* 1200px vagy kissebb képernyőkre */
@media screen and (max-width: 1200px) {
    .space-hero-md{
        padding: 13% 6%;
    }
    
    .space-hero-sm{
        padding: 5% 6%;
    }
}

/* 992px vagy kissebb képernyőkre */
@media screen and (max-width: 992px) {
    .space-hero-md{
        padding: 15% 6%;
    }
    
    .space-hero-sm{
        padding: 5% 6%;
    }
}

/* 768px vagy kissebb képernyőkre */
@media screen and (max-width: 768px) {
    .space-hero-md{
        padding: 20% 6%;
    }
    
    .space-md{
        padding: 20% 10%;
    }

    .space-hero-sm{
        padding: 5% 6%;
    }

    .space-sm{
        padding: 3% 10%;
    }

    .value-text{
        max-width: 75%;
    }
}

/* 576px vagy kissebb képernyőkre */
@media screen and (max-width: 576px) {
    .space-hero-md{
        padding: 25% 6%;
    }

    .space-md{
        padding: 20% 10%;
    }
    
    .space-hero-sm{
        padding: 5% 6%;
    }

    .space-sm{
        padding: 3% 10%;
    }

    .wandero-subtitle{
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .wandero-title{
        font-size: 48px!important;
        font-weight: 600!important;
    }

    .hero-section h1{
        line-height: 53px!important;
    }

    .wandero-lead{
        font-size: 20px;
        line-height: 28px;
    }

    .wandero-primary-btn{
        font-size: 24px;
    }

    .value-text{
        max-width: 75%;
    }
}